.sparta_free_class_box{
    width:100%;
    height:auto;
    background-color:#ff6c7a;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 65px 0 85px 0;
    padding: 50px 0 50px 0;
}


.sparta_free_class_text_box{
    color:white;
    text-align: start;
}

.sparta_free_class_text_box > span{
    font-size: 25px;
}


.sparta_free_class_text_box > h1{
    font-size: 35px;
    font-weight: 900;
}

.sparta_free_class_box > img{
    width: 134px;
    height:100px;
}

.sparta_free_class_btn{
    width:200px;
    height:50px;
    background-color: white;
    border-radius: 30px;
    font-weight: 700;
    color: #cf4257;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .sparta_free_class_box{
        justify-content: space-evenly;
    }
    .sparta_free_class_text_box > span{
        font-size:15px;
    }
    .sparta_free_class_text_box > h1{
        font-size:20px;
    }
    .sparta_free_class_btn{
        display:none;
    }
}


