.myslider {
    width:100%;
    margin:auto;

}
.myslider .slide_page {
    height:500px;
    background-color: #ddd;
}

.myslider .slick-dots{
    bottom: 0;
}

.slick-arrow{
    display: none !important;
}

.fst-slide{
    background-image: url('https://static.spartacodingclub.kr/media/main_carousel/0cnc2hmk3hjy4z9y.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sec-slide{
    background-image: url('https://static.spartacodingclub.kr/media/main_carousel/l8hd6o126tnp197r.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.thr-slide{
    background-image: url('https://static.spartacodingclub.kr/media/main_carousel/xqtstnv10frgri0x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.for-slide{
    background-image: url('https://static.spartacodingclub.kr/media/main_carousel/xzp9hk1o96nbakca.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-box{
    position: absolute;
    top: 170px;
    left: 290px;
    width: 70%;
}

.nom-font{
    font-family: 'Noto Sans KR', sans-serif;
}

.fst-text{
    color:white;
    font-size: 25px;
    font-weight: 500;
}
.sec-text{
    margin: 15px 0 15px 0;
    color:white;
    font-size: 45px;
    font-weight: 700;
}
.thr-text{
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.slide_button{
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    background:linear-gradient( to right, #eb3d56, #fc6774 );
    color:white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.slide_controller{
    margin: 15px 0 15px 0 ;
    height: 10px;
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
}

.ctl_area{
    background-color:rgba(132,132,132,0.8);
    padding: 10px;
    color:white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    text-align: center;
}

.ctl_area_cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    width:40px;
    height:10px;
    border-radius: 25px;
}

.ctl_area_arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 20px;
    width:40px;
    height:10px;
    border-radius: 25px;
    cursor: pointer;
}

.ctl_area_play{

    width:10px;
    height:10px;
    align-items: center;
    text-align: center;
    border-radius:50%;
    cursor: pointer;
}
