  @keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
  }


.contents_box{
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    margin: 60px 0 60px 0;
    width:100%;
    height:900px;
    background-color:white;
}

.content_fst_text{
    font-weight: bold;
    font-size: 40px;
}

.content_sec_text{
    margin-top: 10px;
    font-size: 20px;
    color: #8c8c8c;
}

.content_switch_box{
    width:400px;
    height:60px;
    background-color:#dbdbdb ;
    border-radius: 40px;
    border:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  40px 0 60px 0;
}

.content_button_shape:hover{
    color:black;
    font-weight: bold;
}

.content_button_shape{
 width: 120px;
 height:45px;
 border-radius: 40px;
 font-size:18px;
 border: none;
 background-color: #dbdbdb;
 color: gray;
 cursor:pointer;
}

.content_button_shape.btn_active{
    background-color:white;
    color:black;
    font-weight: bold;
    transition: 0.5s;
}

.content_list_card{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.content_list_box img{
    width:240px;
    height:180px;
    margin-bottom: 10px;
}

.content_list_card_font{
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.content_list_card_price{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color:#7e7d7d;
    font-weight: bold;
}

#chobo > div,
#data > div,
#dev > div {
    width: 250px;
    height:280px;
    margin:  0 10px 0 10px;
}

.content_list{
    position:relative;
    cursor: pointer;
}

.icon_pop {
    background: url("https://static.spartacodingclub.kr/350e42913d9a/static/v5/images/maker_main/start_bubble.png?t=1646740909") center no-repeat;
    background-size: cover;
    width: 100px;
    height: 35px;
    border: none;
    display:inline-block;
    position: absolute;
    top:-45px;
    left:80px;    
    animation: blink 2s ease-in infinite;
  }

  .badge_list{
      width:100%;
      height:140px;
      margin-top: 20px;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
  }
.badge_icon_list{
    text-decoration: none;
    margin: 0  10px 0 10px;
}

  .badge_icon_img{
      width:85px;
      height:85px;
      margin-bottom:10px;
  }

  .badge_icon_name{
    text-decoration: none;
    font-weight: bold;
  }

.badge_icon_list:hover{
    color:rgb(232,52,78);
}

.cta{
    margin-top: 20px;
    color:rgb(232,52,78);

}
.cta:hover{
    font-weight: bolder;
}