@keyframes dropdown-show {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
    }
}

header{
    z-index: 1 !important;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    width:100%;
    height: 60px;
}
.deactive{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}
.active{
    background-color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.logo{
    position: absolute;
    top:0;
    left: 10%;
    padding : 10px 10px 10px 10px;
}
.logo:hover .caption {
    opacity: 1;
}
.caption {
    height:40px;
    color: #e2344d;
    font-size: 25px;
    z-index: 10;
    transition: all 0.5s ease;
    opacity: 0;
    position: absolute;
    top:0px;
    padding-left: 10px;
    cursor: pointer;
}
.menu{
 display: flex; 
 justify-content: space-evenly;
 width: 500px;  
 height:10%;
 position: absolute;
 top : 10px;
 left: 25%;
 padding : 10px 10px 10px 10px;
}

.menu a{
    color: white;  
    margin-left: 16px;
    font-weight: bold;  
    text-decoration: none;
}

.right_menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    right:5%;
    height:10%;
    margin-left: 10px;
    padding : 10px 10px 10px 10px;
    color:white;
} 

.right_menu li{
    margin-left: 20px;
}
.menu a:hover, 
.right_menu li:hover{
    color: #e43450;
    cursor: pointer;
}


i:first-child{
    position:relative;
}

.dropdown-user,
.dropdown-menu
{
    display: none;
    margin-top: 20px;
    text-align: center;
    border: 0.5px solid silver;
}
.dropdown-user a,
.dropdown-menu a 
{
    display:block;
    text-decoration: none;
    color: black;
    padding: 5px 0 5px 0;
}

.right_menu a:hover{
    background-color:rgb(186, 186, 186);
    border-radius: 10px;
}
.user_icon:hover .dropdown-user,
.menu_icon:hover .dropdown-menu 
{
    display: block;
    background-color: white;
    border-radius: 10px;
    animation-name: dropdown-show;
    animation-duration: 500ms;
    animation-direction: normal;
}
.right_menu div{
    position:absolute;
    top: 30px;
    left: -10px;
    width: 150px;
    padding: 5px;
}

.fa-circle-user,
.fa-align-justify {
    width:50px;
    height:50px;
}

